* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 5%;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 1.5%;
    margin: 5%;
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(0, 0, 153);
    border: 3px solid white;
}

#results {
    background-color: crimson;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}